/* ==|== primary styles =====================================================
   Author: Richard Clark, for the Intel AppUp HTML5 screencasts
   ========================================================================== */
#map_wrapper {
  position: relative;
  width: 300px;
  height: 330px;
  border: 1px solid black;
}
#map {
  position: absolute;
  top: 45px;
  left: 15px;
  height: 270px;
  width: 270px;
}
.city_name {
  position: relative;
  left: 15px;
  font-size: 200%;
}
.credits {
  margin: 1pt 6pt;
  font-size: 75%;
}
