/* ==|== primary styles =====================================================
   Author: Richard Clark, for the Intel AppUp HTML5 screencasts
   ========================================================================== */

#map {
  height: 300px;
  width: 300px;
  border: 1px solid black;
}

.credits {
  margin: 1pt 6pt;
  font-size: 75%;
}
