/* ==|== primary styles =====================================================
   Author: Richard Clark, for the Intel AppUp HTML5 screencasts
   ========================================================================== */

@wrapperWidth: 300px;
@wrapperHeight: @wrapperWidth;
@mapMargin: 15px;
@nameHeight: 30px;
@mapWidth: @wrapperWidth - (@mapMargin * 2);
@mapHeight: @wrapperHeight - (@mapMargin * 2);

@formMargin: 15px;
@formLeft: @wrapperWidth + @formMargin;

#map_wrapper {
  position: absolute
  top: 0px;
  left: 0px;
  width: @wrapperWidth;
  height: @wrapperHeight + @nameHeight;
  border: 1px solid black;
  box-shadow: 2px 2px 16px #888;
  -webkit-transform: rotate(-1deg);

}

#map {
  position: absolute;
  top: @mapMargin + @nameHeight;
  left: @mapMargin;
  height: @mapWidth;
  width: @mapHeight;
}

.city_name {
  position: relative;
  left: @mapMargin;
  font-size: 200%;
  font-family: 'Permanent Marker', cursive;
}

.credits {
  margin: 1pt 6pt;
  font-size: 75%;
}

#lookup {
	position: absolute;
	left: @formLeft;
	top: 0px;
	margin: 0px @formMargin;
}

#lookup ul {
  list-style: none;
}
